[2018-10-17 00:54] modelica-trac-importer opened #27 "Locals in FMU export reference files"
**Reported by maplesoft on 30 Jan 2017 14:16 UTC**
A number of exported FMUs contain data for local variables in the reference files.  Since these local variables are internal to the FMU and are listed under 'protected' section during Import, the importing tools may not allow access to such variables including for the purposes of plotting.  We propose that the local variables should not be include

[2018-10-25 13:24] t-sommer opened #2 "Calculate cross-check results based on latest tool versions"
Currently the number of "passed" FMU imports is summed up over all versions of the tools / FMUs. This leads to an "advantage" for older tools (with more versions) and does not encourage importers to test against newly released versions / tools. For the users this makes the result tables (both tools page and cross-check) less meaningful.

In the discussion at the FMI Design Meeting in Roanne it tur

[2018-10-25 20:28] andreas-junghanns commented on #2
Many customers are stuck with old versions of tools for all kinds of reasons. Putting such a singular focus on the newest version looks like we start a race and punish those that try to stay stable.
It also looks like it only looks at versions of exporting tools - intentionally?

[2018-10-26 12:02] chrbertsch commented on #2
For me the requirement for displaying the results are the following:
- in a top-level view it should be simple (e.g. not displaying all tool versions separately)
- users expect up-to-date results (from up-to-date versions). Tool vendors who provide such up-to-date information should be rewarded. On the other hand, for exported FMUs, it will take some time until the importers have reported new XC r

[2018-10-26 12:04] t-sommer commented on #2
"Model 1" and "Model 2" are placeholders for the models exported by the tool.

[2018-10-26 18:30] t-sommer commented on #2
@andreas-junghanns, @chrbertsch would you be okay if we add the models as columns? It would be possible w/o changes to files / tools.csv and would give a more detailed image. The total number of models (currently ~50) is quite stable and would fit on one page.

[2018-10-26 18:34] andreas-junghanns commented on #2
Could we have a switch to enable and disable the model level?
From my experience, the number of models will increase over time and we need a switch of level of detail anyway. Filtering will be needed in the platform tests at some point for sure - this could be a first step.

[2018-10-26 18:39] t-sommer commented on #2
The number of _different_ models per platform is actually quite stable because vendors tend to export the same models for each version (which is good). Even with 50 models for the "worst case" (2.0/cs/win64) we would have some space to grow.

[2018-10-26 18:41] andreas-junghanns commented on #2
aha - ok then let's leave more complicated filtering for later

[2018-10-26 18:42] t-sommer commented on #2
If we use a smart layout the table will look the same from 1m distance

[2018-10-26 18:44] t-sommer commented on #2
...but one could easily detect the tools that import only the simple models.

[2018-11-13 07:48] t-sommer opened #10 "Move cross-check rules to this repo"
The [cross-check rules](https://github.com/modelica/fmi-design/blob/master/FMI_Cross_Check/FMI_Cross_Check_Rules_v4.0.md) should be moved from fmi-design to this repository and merged with the README.md (as suggested by @chrbertsch).

[2018-11-13 09:00] t-sommer opened #11 "fmus/2.0/cs/c-code/MapleSim/2018/Rectifier has the wrong FMI version"
https://github.com/modelica/fmi-cross-check/blob/master/fmus/2.0/cs/c-code/MapleSim/2018/Rectifier/Rectifier.fmu is actually an FMI 1.0 FMU.

[2018-11-13 09:01] t-sommer commented on #11
@Maplesoft-fmigroup, can you update the file?

[2018-11-16 14:59] Maplesoft-fmigroup commented on #11
Updated c-code fmus in pull request: [https://github.com/modelica/fmi-cross-check/pull/16](url)

[2018-11-16 15:02] t-sommer commented on #11
The branch cannot be merged. Can you resolve the conflicts?

[2018-11-19 14:39] Maplesoft-fmigroup commented on #11
Fixed in https://github.com/modelica/fmi-cross-check/pull/16.

[2018-11-23 08:34] t-sommer commented on #10
The rules document has been added with bc57bb31042466f994095768ebd0223bd3657380

[2018-11-23 14:57] APillekeit opened #21 "Links within the tools table always point to win64 cross checks"
Hi,

The links on the tools page doesn't seem to be updated properly.
If one clicks on the e.g. 2.0 symbol for a tool in the table the user is always directed towards: https://fmi-standard.org/cross-check/fmi2-cs-win64/
It seems to be the case that the win64 cross checks are always linked. Even though if win64 is not specified as a supported platform e.g. for dSPACE SCALEXIO

Regards
Andreas

[2018-11-24 20:49] #11 closed

[2018-11-24 20:49] #10 closed

[2018-11-28 19:47] Maplesoft-fmigroup opened #24 "Cross-check should verify derivative attribute"
On page 54 of FMI2.0 spec it says:

However, there are FMUs in the repository that fail to provide this information.  For example:
https://github.com/modelica/fmi-cross-check/blob/master/fmus/2.0/cs/win64/MWorks/2016/MixtureGases/MixtureGases.fmu

has four Derivatives declared in the ModelStructure but there are no ScalarVariables with the <derivative> attribute.  This makes the FMU invalid and th

[2018-11-29 09:22] t-sommer commented on #24
The following FMUs do not define derivatives for all continuous state variables as required by the rule cited above:

[code]

[2018-11-29 13:59] t-sommer opened #25 "Exclude 2.0 FMUs that use undeclared units"
The following 2.0 FMUs have variables with units that are not defined in `UnitDefinitions`:

[code]

[2018-11-29 15:56] #24 closed

[2018-11-29 15:56] #25 closed

[2018-11-30 16:37] modelica-trac-importer opened #28 "Where to find Reference FMUs?"
**Reported by Mihal Brumbulli on 14 Dec 2017 10:19 UTC**
Greetings,

In document FMI_Cross_Check_Rules_v3.1_2015_07 page 7 (No 10 in the table) is stated:

"FMU importing tools must report on importing for all Reference FMUs available for the supported FMI Variant and supported platforms provided on the SVN server"

Searching on the public branch I couldn't find an entry marked as "Reference FMUs"

[2018-12-02 14:42] chrbertsch commented on #28
Yes, please close.

[2018-12-10 15:41] pmai commented on #28
@t-sommer You probably now have to close, since I don't have rights in fmi-cross-check...

[2018-12-10 16:08] t-sommer commented on #28
But the issue still exists or am I missing something?

[2018-12-10 20:13] chrbertsch commented on #28
I would close the issue and perhaps add somethere (where?) a comment on the XC-rules document , that there do not yet exist released reference FMUs.

[2018-12-10 20:17] t-sommer commented on #28
The rules can only be changed once a year (see https://github.com/modelica/fmi-cross-check/blob/master/FMI-CROSS-CHECK-RULES.md#8-changes-to-the-fmi-cross-check-rules). Until then we'll have to leave this issue open.

[2019-02-12 10:09] klausschuch opened #35 "Causality/Variability of reference results"
The current cross-check rules document does not specify which variables can be part of the reference results. Currently, all variables can be used as reference results.

If the exporting tool adds parameters (even fixed or constant ones) to the reference results and the importing tool cannot record parameters during simulation, such an exporting tool cannot publish valid cross-check results for su

[2019-02-12 10:20] chrbertsch commented on #35
Are internal variables allowed as reference results or only outputs? In some importing tools I would not know how to get internal varibles (if the importing toolbox would not have the option to expose internal variables as additional outputs)

[2019-02-12 10:30] andreas-junghanns commented on #35
If we cannot make parameters as reference, handling parameters can only be measured indirectly.
Not very nice, I think.

[2019-02-12 14:11] t-sommer commented on #35
On the other hand if the parameters have no significant influence on the output it's probably not a good test model...

[2019-02-12 14:14] andreas-junghanns commented on #35
These are test FMUs. We are trying to spot errors easily. By excluding entire classes of variables, we make problem detection harder. If you now declare that parameters are suddenly not allowed as reference variables that a number of FMUs and their references might have to be changed again.

[2019-02-12 14:15] t-sommer commented on #35
Exporters could add additional outputs to their test models if they think these variables should be part of the reference results.

[2019-02-26 07:53] chrbertsch opened #37 "AVL Cruise-M FMUs"
Why does AVL-Cruise have the "greeen button" for FMU-export (e.g. FMU 2.0 CS)? I cannot find any uploaded FMUs or reference results for any platform. (CC:  @klausschuch) Thanks in advance for clarifying

[2019-02-26 09:17] t-sommer commented on #37
AVL has no green button for FMU export for any of its tools:

![avl-cross-check](https://user-images.githubusercontent.com/2453858/53401132-7f575280-39af-11e9-8309-7a4d7ca9f4fd.PNG)

[2019-02-26 09:21] chrbertsch commented on #37
Oh, I am sorry I misinterperted the columns.

[2019-02-26 09:21] #37 closed

[2019-02-27 11:16] t-sommer commented on #27
Closed in favor of #35

[2019-02-27 11:16] #27 closed

[2019-02-27 11:27] t-sommer opened #38 "Allow FMUs to require start values"
Often simulations fail because start values are not being set correctly (e.g. in the wrong state). It would be good to optionally allow test FMUs to specify start values that have to be set in order to reproduce the reference results e.g. as an (optional) file `StartValues.csv`:

[code]

Tunable parameters could be provided via the existing `*_in.csv`. These changes would not require any updates o

[2019-02-27 11:33] KarlWernersson commented on #38
The default start values given in the xml has to be included in the compiled or the source code fmu.
It would be much easier to require FMU's to be exported with the default start values. For me this is obvious but maybe we need to spell it out?

[2019-02-27 11:37] KarlWernersson commented on #38
As there is no current way of specifying different start values of the FMU in the cross check, an FMU that requires a different set than the default is not compliant with the cross check rules

[2019-02-27 11:37] t-sommer commented on #38
The point is to test if _different_ start values are set correctly by the importing tool. If an FMU has different start values compiled in than what is in the XML it's simply illegal and should be excluded from the cross-check.

[2019-02-27 11:43] KarlWernersson commented on #38
Would people export such fmu's? Potentially make it harder for them to get passed by vendors not handling it correctly?
How much extra work would it be for importers to handle this in the import?
I see it more of interest as a reference fmu test rather than a compliance test.

[2019-02-27 12:12] chrbertsch commented on #38
This would be an ideal case for "ReferenceFMUs" not exported by a commercial tool, but with the expectation that every tool can simulate them correctly (or explain why start value cannot be set in this tool)

[2019-02-27 13:01] t-sommer commented on #38
That is exactly the intention of the [Feedthrough](https://github.com/CATIA-Systems/Test-FMUs/tree/develop/Feedthrough) Test-FMU.

[2019-02-28 18:18] t-sommer opened #40 "Dymola 2019FDO1 FMUs for c-code contain no C sources"
@KarlWernersson, please update the submitted FMUs (e.g. https://github.com/modelica/fmi-cross-check/blob/master/fmus/2.0/cs/c-code/Dymola/2019FD01/CoupledClutches/CoupledClutches.fmu)

[2019-03-07 16:50] t-sommer commented on #35
Discussion at the Design Meeting Regensburg: No objections. Let's do this.

[2019-03-07 17:01] t-sommer commented on #38
Discussion at Design Meeting Regensburg: Good idea.
Should be limited it to fixed and tunable parameters.

[2019-03-08 01:01] klausschuch opened #42 "Wrong cross-check status shown for Model.CONNECT"
Model.CONNECT has at least 3 FMUs from 3 different tools imported successfully per submitted platform (win32, win64) and type (FMI1.0/2.0-ModelExchange, FMI1/2-CoSim).
However, only FMI1.0-ModelExchange is green, FMI1/2-CoSim and FMI2.0-ModelExchange are blue.
According to my interpretation of the rules all should be green.
Am I missing something?

[2019-03-08 07:12] t-sommer commented on #42
The results are calculated by [this script](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/cross_check/result_tables.py). Can you step through the code and try find to find the issue?

[2019-03-08 15:25] t-sommer opened #43 "dSPACE FMUs with backslashes in path"
Some TargetLink FMUs (e.g. [Fmucontroller.fmu](https://github.com/modelica/fmi-cross-check/blob/master/fmus/2.0/cs/c-code/dSPACE_TargetLink/Release_2017-B/Fmucontroller/Fmucontroller.fmu)) have backslashes (`\`) in their file paths which causes problems when extracting the archive on Linux and macOS.

When extracting the FMU I get a flat list of files with backslashes instead of subfolders:

[code

[2019-03-08 15:26] t-sommer commented on #43
@IZacharias, can you take a look at this?

[2019-03-08 20:14] t-sommer commented on #43
Btw: for FMI 2.0 the documentation should be in `documentation/index.html` not `documentation/_main.html`

[2019-03-09 18:31] chrbertsch opened #44 "Create an FMI XC sandbox"
At the Regensburg Design meeting it was proposed to create a (prviate) FMI 3.0 Cross-Check Sandbox for members of the FMI project.

[2019-03-11 10:04] klausschuch commented on #42
I checked the script and I think I found the reason for the confusion:
The numbers shown in the detailed view are the sum of all passed FMUs of ALL versions of an exporting tool.
[This script](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/cross_check/result_tables.py) checks if there are >= 3 passed FMUs of ONE version of an exporting tool.

The corresponding sentence of the cross-check-r

[2019-03-12 08:41] IZacharias commented on #43
@t-sommer : I executed fmpy.cross_check.validate_vendor_repo, but no error was reported regarding backslashes. Which tool did you use to check the FMUs?

[2019-03-12 08:55] t-sommer commented on #43
@IZacharias: `validate_vendor_repo` does not detect any possible problem. Backslashes in ZIP files are not allowed (see also https://github.com/modelica/fmi-standard/issues/547). You can run `fmpy compile Fmucontoller.fmu` on macOS or Linux to reproduce the problem.

[2019-03-12 10:14] sjoelund commented on #43
You could also use `unzip -l Fmucontroller.fmu | grep "\\\\"` to see all files with backslashes in the zip-file.

[2019-03-12 10:48] #43 closed

[2019-03-22 09:40] #40 closed

[2019-04-06 12:20] t-sommer commented on #42
@klausschuch, can we close this issue?

[2019-04-10 14:38] t-sommer opened #48 "Add missing FMUSDK FMUs"
The FMUSDK is extremely valuable for testing different aspects of the FMI.
It would be great to have a complete set of pre-compiled FMUs for all platforms (at least for the latest release).

- missing FMUs: values.fmu (the only FMU to test String I/O)
- missing platforms: darwin64, linux32, linux64

[2019-04-10 14:46] t-sommer commented on #48
@StefanOltean, can you look into this?

[2019-05-09 08:43] APillekeit commented on #2
Based on the past discussion about how to show to the user an information about version compatibility of tools I would like to make the following proposal:

You start from the following currently available table (e.g. in https://fmi-standard.org/cross-check/fmi2-me-win32/):

importing tool | Tool 1 | Tool 2 | Tool 3
------------ | -------------
Tool 1 | number of tests 1->1 | number of tests 1->2

[2019-05-20 14:30] StefanOltean opened #54 "Problems running Test-FMUs"
Hello,

I've faced some issues running some Test-FMUs in QTronic Silver. If this is not the correct place to raise these issues please let me know whom I should get in contact with.

1. [2.0\cs\win64\Test-FMUs\0.0.01\Feedthrough](https://github.com/modelica/fmi-cross-check/tree/master/fmus/2.0/cs/win64/Test-FMUs/0.0.1/Feedthrough) - seems like this one is expecting some input signals (bool_in, int

[2019-05-20 15:04] t-sommer commented on #54
Thanks for your help, @StefanOltean. I will look into this.

[2019-05-20 18:38] t-sommer commented on #54
I've added the missing input files.

The two FMUs produce the expected output on my machine. Please open an issue on the [Test-FMUs repo](https://github.com/CATIA-Systems/test-fmus) if you've found a bug.

[2019-05-20 18:38] #54 closed

[2019-06-25 10:44] AnHeuermann opened #57 "Missing libgfortran.so.3 for JModelica FMU on Linux"
When simulating `fmus/2.0/me/linux64/JModelica.org/1.15/ControlledTemperature/ControlledTemperature.fmu` with fmuChecker a shared library for gfortran can't be found. See the following error log:
[code]

[2019-06-26 13:28] filip-stenstrom commented on #57
This signifies that the dynamic loader can't find libgfortran, and since it works on your machine which runs travis, your environments are most likely different.

If you unpack the ControlledTemperature.fmu and then call ldd on the .so file, you'll probably find that libgfortran.so can't be found.

[code]
I'd try to re-install and make sure "apt-get install libgfortran3" shows that fortran is inst

[2019-06-26 13:35] AnHeuermann commented on #57
Indeed I didn't had the right version of libgfortan on my machine. Thanks for the help!

[2019-06-26 14:06] sjoelund commented on #57
I would actually reopen this since you must package all dependencies in the FMU and libgfortran3 is not available on all Linux base distributions.

[2019-07-18 12:26] ghorwin opened #62 "FMI Import cross-check rules - what are suitable "reference values"?"
Hi all,

since we just had a discussion about "validating a model implementation with measurement data", the following analogy to FMI co-simulation testing came up.

When the purpose is to test the correct implementation (i.e. standard compliance) of a model, differences between simulated results and 'reference' results must be clearly attributable to the implementation aspect.

Consider measureme

[2019-07-18 13:08] ghorwin commented on #62
Would it be meaningful then, so separate between "basic functionality" (i.e. FMI importing tool is able to read, analyse and run the FMU without generating nonsense) and "correct calculation behavior".

If so, an FMI importing tool may get a two-level compliance certifcate ("one or two stars"), but that would make it even more difficult for users to differentiate between tools. Ideally, each "comp

[2019-07-22 17:29] ghorwin opened #64 "List of non-conforming FMUs regarding 'overstepping' end time"
According to recent discussion/clarification on standard interpretation, CS-FMUs must be able to handle "doStep()" calls gracefully, even if  `t+h > tEnd`. This may happen due to rounding errors for both fixed and variable step FMUs. See also discussion in ticket https://github.com/modelica/fmi-standard/issues/575

Currently, there are a few FMUs in the cross-check repo, that fail the last step wh

[2019-07-22 19:02] chrbertsch commented on #35
What exactly did we decide in Regensburg?

Should we add a sentence to the rules that we allow all kinds of variables (if that was decided?)
How do we treat tools that can only record output values?

[2019-08-01 12:54] ghorwin opened #66 "Add consistency check: there should not be two variables with same value reference but different types"
See fmus_2.0_cs_win64_AMESim_15_ClassEAmplifier -> defines two variables with same value reference, yet different types:

[code]

This looks like an error. The standard does not seem to forbid this, though.

Still, it looks strange and could be flagged with a warning in the compliance checker (in case it is an error).

[2019-08-01 13:00] ghorwin commented on #35
A note on synonymous variables: some FMUs define several real variables with different names but same value reference -> hence, results will be the same (I call these _synonymous variables_). It would suffice to only have **one** of these variables in the reference results - otherwise it would be only a waste of hard drive space (and the git-repo may grow beyond meaningful limits).

With respect o

[2019-08-01 13:34] ghorwin commented on #66
A side note on the FMI standard: IMHO, it would have been easier to enforce unique value references than to introduce the concept of a "variable index" later in order to uniquely identify variables in the dependency section...

And, if you think of the variable index as something like a hash value to the unique variable name (just to make coding easier and avoid string handling for the c-guys amon

[2019-08-02 08:06] t-sommer commented on #66
FMI 2.0 does not require value references to be unique across types (or even for the same type).

[2019-08-02 08:06] #66 closed

[2019-08-04 13:32] ghorwin opened #68 "Clarification proposal to FMIComplianceChecker rules"
Before actually changing the FMI-CROSS-CHECK-RULES.md and creating a pull request I just wanted to ask your opinion about a few clarifications to the document:

Section 9.1.3:
- "All FMUs submitted to the repository must run without license checks..."
Should FMUs that fail to run (due to license restrictions) be removed or marked as "notCompliant..."?

Generally, should we add a sentence about wha

[2019-08-05 10:10] ghorwin opened #69 "FMI Standard Tool listing shows "passed" despite "notCompliantWithLatestTestRules" file"
For example:

`results/2.0/cs/linux64/SIMPACK/9.10.1/JModelica.org/1.15/ControlledTemperature/`

Directory contains both `passed` and `notCompliantWithLatestRules` files. Fmi-Tools-Listing shows corresponding case still as validated (btw, results are way off, so 'failed' would have been the appropriate rating).

Currently, the webpage display does not allow to distinguish between "had been validat

[2019-10-16 10:48] nickbattle opened #76 "Checking for alias variables and variability"
FMI Standard issue 2.0.1 included a clarification paragraph to explain the rules regarding the variability setting of collections of aliased variables. VDMCheck was enhanced to make this new check, and the following list of FMUs in the cross-check repo were found to violate the rules:

[alias_errors.txt](https://github.com/modelica/fmi-cross-check/files/3733849/alias_errors.txt)

See https://githu

[2019-10-16 12:25] chrbertsch commented on #76
@nickbattle : Thanks!

IMHO this is a case where it is great to have a checker that is very strict to provide a warning, but we should not remove these FMUs from the FMI 2.0 XC repository, as the clarification came only in FMI 2.0.1

It is most important that the relevant tool vendor change this for the future.
If see it right: only Dymola/CATIA and OpenModelica are involved, right?
So I will forw

[2019-10-16 12:29] nickbattle commented on #76
@chrbertsch OK, I'll downgrade the VDMCheck for this to be a warning (ie. if this is the only problem, it will report "No errors found").  Yes, I can confirm that it is only the three tools that you mentioned.

[2019-10-16 15:28] nickbattle commented on #76
VDMCheck 0.0.2 build 191016 now treats the new 2.0.1 errors as warnings:
[code]
https://github.com/INTO-CPS-Association/FMI2-VDM-Model/releases/download/0.0.2-1/vdmcheck-0.0.2-191016-distribution.zip

[2019-10-17 05:27] t-sommer commented on #76
If we can agree on a hard rule, I will add it to CI.

@nickbattle, can you post the code you're using to detect the issue?

[2019-10-17 08:41] nickbattle commented on #76
@t-sommer PS. I hate to quibble, but these things come up when you express rules formally...

The rule 1, regarding settable aliases, excludes the case of having both "input" and "parameter" types in the alias set. But it says hte exclusion are variables that can be set with fmi2SetXXX. In the case of "parameter" types, this can mean that they are both "parameter" and "tunable" (rule 4 on p88 or r

[2019-10-17 09:32] HansOlsson commented on #76
I commented on the specification itself in https://github.com/modelica/fmi-standard/issues/436

However, for the cross-checker the most important issue is that the variability-text (as far as I can tell) is non-normative, and thus not something we should reject models based on - even for 2.0.1.

[2019-10-17 09:34] nickbattle commented on #76
@HansOlsson These checks have been downgraded to warnings only now, so they will not fail an FMU by themselves (in VDMCheck).

[2019-10-24 12:48] chrbertsch commented on #76
Thanks, I seem not to have sent the ticket mentioned above. I have done it now: https://trac.openmodelica.org/OpenModelica/ticket/5673
@lochel : Thanks in advance for looking into this; looking forward to see OpenModelica  join the FMI XC effort ...

[2019-12-13 16:49] klausschuch opened #80 "uploads to fmi-standard.org failed"
The last two ci uploads failed with:
`[master 35b9440] Adding cross-check results from CI (build 245)
 2 files changed, 11 insertions(+), 9 deletions(-)
 rewrite _data/cross-check/result.csv (75%)
To github.com:modelica/fmi-standard.org.git
 ! [rejected]        master -> master (fetch first)
error: failed to push some refs to 'git@github.com:modelica/fmi-standard.org.git'
hint: Updates were reject

[2020-02-04 21:12] AnHeuermann opened #83 "Add version tags"
### Problem
When running tests with my FMI tool using the master branch of this repository and something fails I can't be 100% sure if the error is on my side or there was a new commit wich did break something.
E.g. there are problems like #69
But of cours I don't want do define a commit as "correct" and start to only test with that version.

Also having constantly chaing number of tests makes it

[2020-05-06 13:30] TorstenBlochwitz opened #86 "Reference results of fmi-cross-check/fmus/2.0/me/win64/Test-FMUs/0.0.2/BouncingBall/"
The reference results of the Co-Simulation FMU BouncingBall contains results with time values which are not monotonically increasing. This violates the FMI CrossCheck Rules (see Appendix B).

Could you please correct this? It is misleading for users.

I just noticed the same for the corresponding model exchange FMU and for the FMUs Stair and Feedthrough.

[2020-05-07 08:17] t-sommer commented on #86
From https://github.com/modelica/fmi-cross-check/blob/master/FMI-CROSS-CHECK-RULES.md#10-appendix-b--csv-rules:

The values of `time` are not required to be _strictly_  monotonically increasing. Allowing multiple equal time values is very useful to provide variable values before and after events.

[2020-05-07 08:17] #86 closed

[2020-05-15 20:10] chrbertsch opened #87 "Start FMI 3.0 sandbox"
According to the discusison  https://github.com/modelica/fmi-design/blob/master/Meetings/2020-05-07_FMI-Steering/README.adoc @t-sommer  will make a proposal

[2020-05-15 20:13] chrbertsch opened #88 "XC self-certification"
According to the discussion in 1.6 of  https://github.com/modelica/fmi-design/blob/master/Meetings/2020-05-07_FMI-Steering/README.adoc @t-sommer and @andreas-junghanns  will make a proposal.

[2020-05-15 20:17] chrbertsch opened #89 "Remove "hard fees" from XC rules and come up with new proposal for changes"
According to the decision of the FMI Steering committee decision https://github.com/modelica/fmi-design/blob/master/Meetings/2020-05-07_FMI-Steering/README.adoc#15-fmi-cross-check
@andreas-junghanns : will you prepare a proposal?

[2020-05-18 11:21] andreas-junghanns commented on #88
I opened PR #90 with TODOs for the self-assessment (certification?).

[2020-05-25 05:48] chrbertsch opened #91 "Include reference FMUs in XC"
I would  suggest to include the Reference in the XC.

Before we make reporting on them mandatory (as the rules say) I would propose to start with a transition phase and ask all tool vendors to report on results for them, so that we get feedback on them and can possibly fix bugs.

After some time passed we could release a version 1.0 of the reference FMUs and make reporting on them mandatory

[2020-05-25 09:44] chrbertsch opened #92 "How shall we treat tools/libraries supporting FMU import but not beeing a simulator"
E.g., FMIL is used to implement pyfmi or der FMU Compliance Checker.
Could FMIL then inherit the green XC status from one of these tools?
see also discussion in https://github.com/modelon-community/fmi-library/issues/5#issuecomment-633455957

Currently I would read the tables as the FMIL developers do not want to participate in the XC, which is not the case.

Or shold we introduce a new formatting

[2020-05-29 09:40] klausschuch commented on #42
@t-sommer The description in the cross check rules document should be clarified first.
I guess this needs a decision by the fmi steering committee.

@andreas-junghanns Could you please comment on this topic?

[2020-05-29 12:27] andreas-junghanns commented on #42
OK, this apparently needs clarification in the rules. (Please create a PR with a clarification that you would understand!)
We need to release new rules soon anyway.

I would clarify it in the stricter sense - we should encourage proper testing.
Also because the current scripts seem to be implemented that way and only require fixing the rules.

I am also not worried about AVL being on the list: AVL

[2020-06-15 16:02] klausschuch commented on #42
@andreas-junghanns
I am not complaining at all. I just want to have this clarified in the rules.
We uploaded new results a while ago but unfortunately to the wrong directory. To get this stupid mistake fixed, I'm waiting for #93 to get merged.

[2020-06-15 20:05] andreas-junghanns commented on #42
Can you not merge this yourself?

@t-sommer : if you are the only one that can merge tickets, please merge this, or explain why you cannot merge yet

[2020-06-16 07:31] klausschuch opened #94 "circle ci fails - ssh passphrase missing"
The ci of cross-check fails currently.
This is the error shown in the ci output:
`Warning: Permanently added the RSA host key for IP address '140.82.112.3' to the list of known hosts.
Enter passphrase for key '/home/circleci/.ssh/id_rsa':
Too long with no output (exceeded 10m0s)
CircleCI received exit code 1`

[2020-06-16 07:55] andreas-junghanns commented on #94
@t-sommer : can you fix this?

[2020-10-02 19:34] klausschuch commented on #94
The actual reason for this problem is not the missing ssh passphrase.
The repostitory is currently just too big and the git operation takes too long `Too long with no output (exceeded 10m0s) CircleCI received exit code 1`.
Hence, the problem will be fixed as soon as the huge number of results files get removed after changing the xc rules (see #90).

[2020-10-02 19:34] #94 closed

[2020-10-26 13:57] AnHeuermann opened #99 "What "system" libraries can be assumed for the Cross Check?"
OMSimualtor is running the FMI Cross Check (see [libraries.openmodelica.org](https://libraries.openmodelica.org/fmi-crosschecking/OMSimulator/)) inside a Docker image with only a few libraries installed.
In this Docker images ( anheuermann/ompython on DockerHub: [Ubuntu Bionic](https://hub.docker.com/layers/anheuermann/ompython/bionic/images/sha256-54d62b0117f54e041141046570ad7a36edb869f552d504020

[2020-10-26 13:58] AnHeuermann commented on #99
Related issue: #57

[2020-10-27 08:46] t-sommer commented on #99
FMUs with external dependencies are perfectly fine (e.g. a license server) but you'll have to accept the fact that very few people will be able (and willing) to simulate them.

[2020-10-27 08:46] #99 closed

[2020-10-27 15:12] andreas-junghanns opened #100 "Clarify the use of ComplianceChecker and FMPy"

[2020-10-28 13:44] #88 closed

[2020-10-28 13:44] #89 closed

[2020-12-11 09:55] chrbertsch opened #102 "Exporting tools are missing in tables"
e.g. SimulationX in 2.0 CS FMUs for Win64

![grafik](https://user-images.githubusercontent.com/16363372/101888995-2ca85400-3b9f-11eb-8d65-bbdfccd68f55.png)

but the FMUs are there:

![grafik](https://user-images.githubusercontent.com/16363372/101889061-42b61480-3b9f-11eb-8eb8-c50066a996ac.png)

[2020-12-11 09:56] chrbertsch opened #103 "Green button missing for ETAS COSYM"
To my understanding, ETAS COSYM fulfills the rules for the "green button" as an importing tool, but is displayed as "blue". I think it was green before but somehow changed.

There are results for 4 exorting tools

![grafik](https://user-images.githubusercontent.com/16363372/101889704-00d99e00-3ba0-11eb-96c8-72186b658d5b.png)

but only for two tools they are displayed

![grafik](https://user-images

[2020-12-11 10:04] chrbertsch commented on #103
To my understanding, ETAS COSYM fulfills the rules for the "green button" as an importing tool, but is displayed as "blue". I think it was green before but somehow changed.

There are results for 4 exorting tools

![grafik](https://user-images.githubusercontent.com/16363372/101889704-00d99e00-3ba0-11eb-96c8-72186b658d5b.png)

but only for two tools they are displayed

![grafik](https://user-images

[2020-12-15 15:12] chrbertsch commented on #87
As discussed in today's Steering committe Meeting:

" Proposal: Just create a branch and directory in the XC repo. Or if you do not want it public, create a branch and directory in FMI-design" --> @t-sommer will create them. Thanks!

[2021-01-22 17:19] Maplesoft-fmigroup opened #104 "Retroactively flagging FMUs as non-compliant"
Should this be allowed?  If an FMU passed validation using an FMPy version available at the time of check-in, it should be listed as compliant.  It seems not logical to expect past FMUs to comply with future releases of verification tools.
A MapleSim 2018 and 2019 FMU was flagged as not compliant recently.  While the problem is valid (modelDescription
contains an error but the FMU still runs as ex

[2021-01-22 19:50] chrbertsch commented on #104
IMHO "compliance" should be w.r.t the FMI standard and not w.r.t. a validation tool.
If the other way round the FMU would be valid according to the standard by fail the validation tool check, you would not accept this, but insist on fixing the tool.
Thus I think everything is ok and propose to close this issue.

[2021-01-22 20:05] Maplesoft-fmigroup commented on #104
Ideally yes, the FMUs should be compliant wrt the standard.  But how do you check?
Also, it seems odd to label FMUs that were deemed valid for couple of years as non-compliant all of a sudden.

[2021-02-01 08:53] AnHeuermann opened #107 "No working CI / master failing"
The CirclecCI was disabled with commit https://github.com/modelica/fmi-cross-check/commit/c06c9b4a068b640edd210c544a9419163367e13c.

Will there be a new continuous integration to validate the master branch and PRs?

When running `python -m fmpy.cross_check.validate_vendor_repo` on the master branch I get a giant load of error messages. So it would be very important to have at least a rudimentary C

[2021-02-01 22:47] t-sommer commented on #107
Please run `validate_repo.py` locally before opening a PR. The docs have not yet been updated to reflect this change.

[2021-02-02 09:28] AnHeuermann commented on #107
Ah okay. I'll do that as soon as the script is finished or the documentation is updated.

We plan to add OMSimulator and OpenModelica to the FMI Cross Check and for that would run parts or all of this repo on our Jenkins machines. But in my opinion the `validate_repo.py` script needs to be improved. It is incredible slow, because it is only running on a single thread on a machine with many threads

[2021-02-27 11:50] AnHeuermann commented on #57
Any news on this issue?

The libgfortran3 dependency is breaking my automated tests for a Julia FMU simulator I'm working on.

The runner I'm using doesn't has libgfortan3. While I could add it for now that doesn't really solve the problem.
As soon as the GitHub actions CI changes to Ubuntu Focal runners it will no longer be possible to install gfortran 3 on them and my tests will fail again.

Acc

[2021-04-24 01:21] ForrestTrepte opened #114 "no LICENSE.txt for this repository"
This repository doesn't seem to have a [license file](https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/adding-a-license-to-a-repository#:~:text=You%20can%20include%20an%20open,for%20other%20people%20to%20contribute.). This makes it difficult and unclear for others to freely use, change, or distribute the project.

Would it be possible to add a LICENSE.TXT. S

[2021-04-26 05:42] chrbertsch commented on #114
This is a good point.
However, as source code FMUs will contain proprietary code from the tool vendor, it will not be possible to put the whole repo under an open source license.
What we would need is something like an "all rights reserved by the exporting tool vendors, usage of the uploaded FMUs only for testing" license. Does someone know a standard license text for such a purpose.
And perhaps a

[2021-04-27 19:12] ForrestTrepte commented on #114
Ah, I think I see the problem. So the individual FMUs may contain proprietary things that the vendors don't want to provide under a permissive open-source license? But you do want to give users of fmi-cross-check permission to use those FMUs for testing compatibility.

For users of this repository, it would be helpful to explain how that works and have it all covered in a LICENSE.TXT. But I'm not

[2021-05-03 20:50] ForrestTrepte commented on #114
@chrbertsch, I don't know of standard open-source license that is "for testing only". Although it would be nice to have a default LICENSE.txt that applies to the repository, I have alternative suggestion for you to consider:

Instead, you could add a statement to the readme describing what is permitted. Perhaps add a section to the readme about how to run the tests and state that the contents of t

[2021-05-04 07:19] andreas-junghanns commented on #114
@chrbertsch : Agreed with your second sentence above. Let´s do that. The readme should also state your third sentence: "We expect tool vendors to comply and publish to all licenses used in the creation of the FMUs they release in this repository.".
Sad we have to state it, but let´s make sure no misunderstandings happen.

[2021-05-04 17:16] ForrestTrepte commented on #114
@andreas-junghanns: Would this make it clear that users are permitted to execute all the tests for verifying compatibility with the FMI standard? Or would such users need to study separate licenses provided by the tool vendors for each individual test?

[2021-05-04 18:14] andreas-junghanns commented on #114
To be safe we should say that, but that should go without saying, even if we would expect vendors not to restruct use reasonable. In general, the XC rules state that what you upload must be freely licensed for XC purposes, at least. Maybe we should refer to the XC rules as well?

[2021-05-04 19:01] ForrestTrepte commented on #114
@andreas-junghanns: It would be nice to explicitly state that. In skimming the readme and FMI Cross-Check rules, I didn't see anything about how the tests can be used.

[2021-06-08 12:16] pamagister commented on #114
It would be great having a LICENSE.txt coming with each FMU, zipped into the FMU/Documentation-folder like here in this BouncingBall.fmu (see link below). This way, you will have a self-contained license that will allow redistribution of the FMU, e.g. if the FMU is used for own cross-check purposes.

https://github.com/modelica/fmi-cross-check/blob/master/fmus/2.0/cs/win64/Test-FMUs/0.0.2/Bouncing

[2021-07-07 09:28] t-sommer opened #117 "Update documentation of check & PR workflow"

[2021-07-09 11:39] lochel commented on #104
If a FMU is actually not compliant with the FMI standard then it must be labeled as such. I guess we all can agree on that at least. It is unfortunate if it gets discovered later on but, never the less, one cannot expect other tools to support such a non-compliant FMU. Therefore, it must be flagged as non-compliant - even retroactively.

[2021-07-09 11:45] #104 closed

[2021-07-09 11:49] chrbertsch commented on #102
ah, these FMUs are all marked as "notCompliantWithLatestRules"

[2021-07-09 11:49] #102 closed

[2021-07-09 11:54] chrbertsch commented on #103
@Hela-Guesmi : some of the FMUs that you have simulated are marked as "notCompliantWithLatestRules" and thus do not count for the green button, e.g. the FMUs by SimjulationX, see. e.g., https://github.com/modelica/fmi-cross-check/blob/master/fmus/2.0/me/win64/SimulationX/3.7.41138/ControlledTemperature/notCompliantWithLatestRules

[2021-07-09 11:54] #103 closed

[2021-07-09 11:56] chrbertsch commented on #87
We discussed to create the sandbox in the (non-public) fmi-design repository

[2021-07-09 11:56] #87 closed

[2021-07-09 11:56] #117 closed

[2021-07-09 11:57] chrbertsch commented on #80
@klausschuch : please re-open if this still persists.

[2021-07-09 11:59] chrbertsch commented on #48
Can this be closed? There are FMUSDK FMUs, e.g., https://github.com/modelica/fmi-cross-check/tree/master/fmus/2.0/cs/win64/FMUSDK

[2021-07-09 11:59] t-sommer commented on #107
The CI is currently disabled due to technical issues. Please open a PR if you want to make changes to `validate_repo.py`.

[2021-07-09 11:59] #107 closed

[2021-07-09 12:00] chrbertsch commented on #44
This shall be created in the FMI-design repo

[2021-07-09 12:00] #44 closed

[2021-07-09 12:05] #48 closed

[2021-07-09 12:06] t-sommer commented on #80
The CI is currently disabled.

[2021-07-09 12:06] #80 closed

[2021-07-09 12:24] chrbertsch commented on #92
There are more important issues

[2021-07-09 12:24] #92 closed

[2021-07-09 12:41] chrbertsch commented on #42
I propose to close this.
#93  is already merged, #119 shlall clarify the counting

[2021-07-09 14:35] lochel commented on #107
@t-sommer which issue is dealing with the technical issues?

[2021-07-10 16:16] lochel opened #121 "Provide information for why an FMU is not compliant with latest rules"
Many FMUs are marked as `notCompliantWithLatestRules`, but none of them seem to have any information explaining why they are not compliant. It would be good to put a reason for why a certain model is not compliant into the `notCompliantWithLatestRules` file.

[2021-07-10 16:52] andreas-junghanns commented on #121
This would have been good to do from the start.
Are you volunteering to do the work now?

[2021-07-10 16:55] lochel opened #122 "Test FMUs with external dependencies"
The following examples depend on shared objects which are not available or cannot be loaded on a standard target machine:

win64 (Windows 10):
* fmus/2.0/cs/win64/YAKINDU_Statechart_Tools/4.0.4/*
* fmus/2.0/cs/win64/Silver/3.3/*

linux64 (Ubuntu 20.04 LTS)
* fmus/2.0/cs/linux64/JModelica.org/1.15/*
* fmus/2.0/me/linux64/JModelica.org/1.15/*

The fmi-cross-check repository should follow strictly th

[2021-07-10 16:59] lochel commented on #121
I don't know why all the FMUs are flagged as invalid. I guess the people who where involved should try to recall and provide the information. What I can do is to include a reason for all FMUs that I myself identify as invalid.

[2021-07-10 17:13] andreas-junghanns commented on #121
Often there are multiple reasons, I suggest to use one line per reason.
Let´s also try to find a "standard" way to describe this so we can grep/find for specific FMUs failing for the same reason.

[2021-07-11 10:04] t-sommer commented on #83
All FMUs and results on the master branch should be either compliant or marked as not compliant.
If not, please open an issue and describe the problem.

[2021-07-11 10:04] #83 closed

[2021-07-11 10:06] t-sommer commented on #121
You can validate the FMU with FMPy or use the [online FMU Check](https://fmu-check.herokuapp.com/) to get a list of all problems.

[2021-07-11 10:06] #121 closed

[2021-07-11 10:07] #42 closed

[2021-07-11 10:56] lochel commented on #121
@t-sommer Please explain why you closed the issue. I cannot see that the issue got solved or addressed in any way.

If I understand you correctly, then you are saying that the validation for the fmi cross-check examples is done by a single vendor implementation. This is very odd and I am very surprised that the MA is supporting this approach. It is certainly fine to use certain implementations in

[2021-07-12 06:32] chrbertsch commented on #121
I agree that it would be nice-to-have to directly see the reason for non-compliance in the file, and this is a possible future extension.

But: until now there was no real need for this, as (all of?) the non-compatibilities were found by the validation with fmpy, which also provides a meaningful error message, which  can be reproduced by everyone.
And if there was a new finding, as with yours, fmp

[2021-07-13 07:50] lochel commented on #100
What is this issue about? Please provide a description.

[2021-07-13 08:06] lochel commented on #69
This issue is concerning. Can please someone comment on it? Does the described issue actually falsify the displayed results?

[2021-07-13 08:10] lochel commented on #64
@ghorwin can you please open a pull request adding the `notCompliantWithLatestRules` to the examples you identified?

[2021-07-13 08:18] lochel commented on #122
@t-sommer @chrbertsch @andreas-junghanns please comment on this issue. If you agree that it is backed by the specification, then I will go ahead and prepare a pull request for it.

[2021-07-13 08:55] ghorwin commented on #64
I may need a few days to look into it. The file should just be "there", besides the `fmu`-file, right? No special content is required?

[2021-07-13 09:09] lochel commented on #64
Yes, exactly. It is just an empty file as of now. Thanks for your contribution.

[2021-07-15 12:59] lochel opened #127 "solidThinking_Activate/2020/CVloop/ doesn't comply with the rules for the directory structure"
The example `solidThinking_Activate/2020/CVloop/` doesn't comply with the rules for the directory structure.

There is a typo in the FMU name CVLoop.fmu, which should be CVloop.fmu.

_Originally posted by @lochel in https://github.com/modelica/fmi-cross-check/issues/110#issuecomment-880672688_

[2021-07-15 13:32] masoud-najafi commented on #127
Should I rename all CVLoop.* files to CVloop.* by adding CVloop., then removing CVLoop. ?

[2021-07-15 13:37] lochel commented on #127
I am a bit afraid that it might cause problems on Windows but honestly I don't know.

[2021-07-15 20:59] t-sommer commented on #127
You can change the capitalization in git (see https://stackoverflow.com/questions/10523849/changing-capitalization-of-filenames-in-git).

[2021-07-15 21:47] lochel opened #129 "Absurd cross-check results on fmi-standard.org 😱"
I really hope that I am getting this one completely wrong:

I fetched a simple overview of the number of available me tests for win64 from the repository, and these are the numbers that I got:

| Exporting tool              | # provided tests | # not compliant tests |
| --------------------------- | ---------------- | --------------------- |
| CATIA                       | 11               | 2

[2021-07-15 21:52] casella commented on #122
_FMI Specification 2.0.2, Section 1.1_

_FMI Cross-Check rules 4.1, Section 9.1.3_

These rules seem very clear to me and not subject to interpretation.

Making exceptions means that some importing tools may not be able to run some FMUs _only_ because of external dependencies, thus getting a worse score for reasons that are totally independent from their quality of implementation of the FMI standa

[2021-07-15 21:53] casella commented on #122
See also #57

[2021-07-16 07:01] chrbertsch commented on #129
I do not think the displayed results are absurd, but perhaps they need to be better explained (and the displayed numbers perhaps reconsidered).

Exporting and importing tool vendors can upload results for different versions of their tools (which by the way is very welcome!)

E.g. MapleSim has uploaded results for importing for four tool versions for https://github.com/modelica/fmi-cross-check/tree

[2021-07-16 07:33] lochel commented on #129
Thanks @chrbertsch, you are right and I missed that each importing tool is available in different versions. However, that makes the entire table useless.

What is the purpose of the table? The table should provide a simple overview how the tools compare to each other and which tools are compatible in terms of import/export. However, you cannot use the current table to compare the numbers of one to

[2021-07-16 08:04] chrbertsch commented on #129
The current provided information is not useless, but has to be better explained.
It is very beneficial if tool vendors upload results for different (and latest) versions of their tools and this should be honoured and reflected.

Changing the result display to only  latest tool versions has been discussed in https://github.com/modelica/fmi-cross-check/issues/2 This has not been realized yet. Perhap

[2021-07-16 08:16] lochel commented on #129
@chrbertsch I am not arguing agains uploading results for different tool versions. I just state that the results cannot be interpreted giving the provided information. That makes the displayed results indeed useless and, even worse, missleading.

If we can agree on that then we can go ahead in a constructive attempt to improve the display of the results.

[2021-07-16 08:59] andreas-junghanns commented on #129
@lochel : Can we keep the tone of these discussion here less heated and more civil, please? E.g. the heading of this issue is very close to offensive to those that have worked hard to get XC to where it currently is, whatever flaws it might still have.

[2021-07-16 09:16] lochel commented on #129
I don’t quite know what you mean. This is a discussion on the issue and nothing else. I am very concerned by the presented results and the process which maintains the cross-check. I raised several issues both publicly and privately to you and @t-sommer but got basically no response on the addressed issues.

Regarding the title: @andreas-junghanns, don’t you think that the presented results are ind

[2021-07-16 09:45] masoud-najafi commented on #127
Thanks Torsten.
I made the  PR https://github.com/modelica/fmi-cross-check/pull/131 for renaming the files.

[2021-07-16 11:30] lochel commented on #129
I opened two pull requests in order to address the issue: The first one filters out not compliant tests which until now are still listed in the results. The other one is breaking down the importing tools in order to provide a good overview of the results. This way, you can easily follow the progress of all the different tools, and you can compare the tools with each other.

[2021-07-16 13:58] lochel commented on #129
This is just to illustrate the changes I propose. I selected Dymola as an example, because it supports most of the cross-check and provides results for different versions.

The current homepage shows the following numbers, as you can see from my initial post:

| importing tool | CATIA | DS - FMU Export from Simulink | Dymola | FMI Toolbox for MATLAB/Simulink | FMUSDK | MapleSim | Test-FMUs |
|---|

[2021-07-23 08:07] lochel commented on #129
I am very glad to see that #132 was merged. More than 19% of the green badges were wrongly awarded and vanished from the tool page. This is because the numbers of counted tests from the detailed reports dropped considerably:
[code]

[2021-07-23 08:11] lochel commented on #69
@ghorwin I think this is finally fixed and can be closed. See https://github.com/modelica/fmi-cross-check/issues/129#issuecomment-885472471

[2021-07-23 08:26] ghorwin commented on #129
Hi all,
it's been a while since I've worked on this issue, so please excuse my late comment on the matter. If I recall correctly, I had pretty much the same concerns mentioned towards Torsten some 2-3 years ago. In my opinion, merging "passed" counts from different versions of a software is indeed misleading. While I see Torsten's argument, that actively participating tool venders who frequently u

[2021-07-23 08:47] #69 closed

[2021-07-23 09:19] lochel commented on #127
PR #131 was merged and that solves this problem. Thanks @masoud-najafi.

[2021-07-23 09:19] #127 closed

[2021-07-23 13:42] andreas-junghanns commented on #122
@lochel : We have checked our FMU from fmus/2.0/cs/win64/Silver/3.3/* and found nothing wrong.
What have you been testing and how?

[2021-07-26 08:24] #100 closed

[2021-07-26 15:24] beutlich commented on #100
@andreas-junghanns Was it clarified then or closed w/o clarification?

[2021-07-26 18:09] andreas-junghanns commented on #100
Closed w/o clarification: This is a non-issue right now. The ComplianceChecker cannot check 3.0 FMUs, only FMPy can.
Such is a power of the factual.

[2021-07-26 21:48] lochel commented on #122
@andreas-junghanns There are issues with the shared objects when running your examples in wine. However, I can confirm that it works fine natively in Windows. The corresponding pull request is already closed.

Speaking of #122: It was closed without releasing fmi 2.0.3. It is certainly not ideal to point to a not-existing release for the baseline of the cross-check project.

And even with the chan

[2021-07-27 11:59] casella commented on #122
A further comment from my side. I fully agree that the cross-check rules should be either followed or changed, see also my comment [here](https://github.com/modelica/fmi-cross-check/pull/124#issuecomment-887443264). Being able to actually run the FMU is not a side issue, it is central to the whole point of the XC tool.

Regarding the yet unreleased 2.0.3 specification, I understand there is consen

[2021-09-22 15:37] AnHeuermann commented on #122
Would UniFMI be a solution for this particular problem? See [Portable runtime environments for Python-based FMUs:
Adding Docker support to UniFMU](https://2021.international.conference.modelica.org/proceedings/papers/Modelica2021session5B_paper4.pdf) from the 2021 Modelica Conference.

With this it could be possible to specify a docker image that holds all dependencies for a specific FMU. It wont

[2022-02-10 08:25] #114 closed